@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Kannada:ital@0;1&display=swap');

body{
  font-family: "Crimson Pro", serif;
}

.container-fluid{
  padding: 0px;
}

h2{
  font-size:  3.906vh;
  margin-top: 0;
}

h3{
  font-size: 2.93vh;
}

h4{
  font-size: 2.441vh;
}

a{
  text-decoration: none !important;
}

p{
  font-size: 1.758vh;
}

@keyframes fadeIn {
  from {
        opacity: 0;
  }
  to {
        opacity: 1;
  }
}
.animate-section{
  opacity: 0;
}
.animate-section.show {
  animation: fadeIn 1s ease-in forwards;
}

.main-wrapper{
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

/* Header */
.header{
  position:         sticky;
  top:              0;
  background:       #ffffff;
  color:            #000000;
  border-bottom:    0.098vh solid rgba(60, 68, 75, 0.5);
  display:          flex;
  justify-content:  space-between;
  padding:          1.465vh;
  align-items:      center;
  flex-wrap:        wrap;
  z-index:          2;
  width:            100%;
}

.header-button{
  color:            #000000;
  border:           0px;
  border-radius:    0.488vh;
  background-color: #ffffff;
  font-size:        2.93vh;
  height:           4.688vh;
  padding-top:      0;
}
.header-button:hover{
  color:            #ffffff;
  background-color: #05989E;
}
.header-button:active{
  color:            #ffffff;
  background-color: #05989E;
}
.header-button:focus{
  color:            #ffffff;
  background-color: #05989E;
}

/* Landing Page */
.landing-page{
  display:          flex;
  justify-content:  space-evenly;
  flex-wrap:        wrap;
  align-items:      center;
  margin-top:       24.121vh;
  margin-bottom:    26.27vh;
  overflow:         hidden;
}

.landing-page-image{
  width:          28.027vh;
  height:         41.992vh;
  border-radius:  1.953vh;
  animation:      slideFromLeft 1.5s ease-out forwards;
}

.landing-page-right{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap:            2vh;
  animation:      slideFromRight 1.5s ease-out forwards;
}

.download-cv{
  background-color: #05989E;
  color:            #ffffff;
  transition:       all 0.5s;
  width:            26.367vh;
  height:           4.688vh;
  line-height:      4.688vh;
  font-size:        2.441vh;
  border-radius:    1.953vh;
  text-align:       center;
  &:hover {
    transform: scale(1.2);
  }
}

.icons-redirect{
  display:          flex;
  justify-content:  space-around;
  width:            100%;
  margin-top:       5%;
}

.redirect-image{
  height: 54px;
  width:  54px;
}

@keyframes slideFromLeft {
  from {
    opacity:    0;
    transform:  translateX(-100%);
  }
  to {
    opacity:    1;
    transform:  translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity:    0;
    transform:  translateX(100%);
  }
  to {
    opacity:    1;
    transform:  translateX(0);
  }
}

/* About me section */
#about-section{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  margin-bottom:  26.172vh;
  margin-top:     4.688vh;
}
.about-me-content{
  display:          flex;
  justify-content:  space-evenly;
  align-items:      center;
  flex-wrap:        wrap;
}
.about-me-text{
  text-align: end;
  margin-top: 2%;
  width:      65%;
}
.about-me-image{
  width:          35.84vh;
  height:         47.754vh;
  border-radius:  20px;
}

/* Projects */
#projects-section{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  margin-top:     4.688vh;
}
.projects-subtitle{
  display:        inline-block;
  border-bottom:  0.195vh solid #1E1E1E;
  text-align:     center;
  margin-top:     2.637vh;
  margin-bottom:  3.223vh;
  margin-left:    auto;
  margin-right:   auto;
  display:        block;
  width:          fit-content;
}
.collection{
  display:          flex;
  justify-content:  flex-start;
  align-items:      center;
  gap:              2vw;
  flex-direction:   row;
  flex-wrap:        wrap;
  margin-left:      3vw;
  margin-right:     3vw;
  transition: top ease 0.5s;
}

.content {
  height:           43.753vh;
  width:            320px;
  background-color: #ffffff;
  border:           1px solid #2c8c99;
  border-radius:    0.977vh;
  transition: top ease 0.5s;
  box-shadow:       rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display:          flex;
  flex-direction:   column;
  flex:             0 1 320px;
}

.content:hover {
  transform: translate(0, -5px);
}

.image-container {
  height:        240px;
  width:         320px;
  display:       flex;
  align-items:   center;
  justify-content: center;
  overflow:      hidden;
}

.card-image {
  width:     320px;
  height:    240px;
  object-fit:    cover;
  border-top-left-radius:   0.977vh;
  border-top-right-radius:  0.977vh;
  display:       block;
  margin:        0 auto;
}

.card-content {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  flex-direction:   column;
  flex:             1 1 auto;
}

.card-content p {
  font-size:      1.5rem;
  text-align:     start;
  padding:        1vh 2.222vw 1vh 2.222vw;
  height:         13vh;
  margin-bottom:  0;
  overflow:       hidden;
  text-overflow:  ellipsis;
}

.card-content a {
  color:          #2c8c99;
  padding:        0.977vh 1.465vh;
  margin-bottom:  5%;
  width:          90%;
  font-size:      1.8rem;
  text-align:     center;
  height:         3.995vh; 
  display:        block;
  word-break:     break-word;
}

@media screen and (max-width: 1200px) {
  .collection {
    gap: 1vw;
  }
  .content {
    width: 260px;
    flex: 0 1 260px;
    height: 350px;
  }
  .image-container {
    height: 160px;
    width: 260px;
  }
  .card-image {
    width: 260px;
    height: 160px;
  }
  .card-content a {
    width: 90%;
    font-size: 1.5rem;
  }
  .card-content p {
    height: auto;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .collection {
    gap: 2vw;
  }
  .content {
    width: 98vw;
    min-width: 0;
    max-width: 98vw;
    flex: 1 1 98vw;
    height: 250px;
    border-radius: 10px;
  }
  .image-container {
    height: 150px;
    width: 100%;
  }
  .card-image {
    height: 150px;
    width: 100%;
    max-width: 100%;
  }
  .card-content a {
    font-size: 1.5rem;
    height: auto;
    padding: 0.5em 1em;
    width: 95%;
  }
  .card-content p {
    font-size: 1.5rem;
    padding: 1em;
  }
}

/* Skills */
#skills-section{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  margin-top:     4.688vh;
}

.skills-container{
  display:    flex;
  flex-wrap:  wrap;
  padding:    4.688vh;
  gap:        4.583vw;
}
.skills-card{
  background-color: transparent;
  perspective:      1000px;
  width:            203px;
  height:           217px;
  margin:           auto;
}

.skills-card-inner {
  position:         relative;
  width:            100%;
  height:           100%;
  text-align:       center;
  transition:       transform 0.8s;
  transform-style:  preserve-3d;
}

.skills-card:hover .skills-card-inner {
  transform: rotateY(180deg);
}

.skills-card-front, .skills-card-back {
  position:                     absolute;
  width:                        100%;
  height:                       100%;
  -webkit-backface-visibility:  hidden; /* Safari */
  backface-visibility:          hidden;
  box-shadow:                   0px 4px 4px 5px rgba(0, 0, 0, 25%);
  border-radius:                5px;
}

.skills-card-front {
  background-color: #ffffff;
  padding:          1vw;
  h5{
    font-size:  20px;
    margin-top: 2.246vh;
  }
}

.skills-card-back {
  color:            #1E1E1E;
  transform:        rotateY(180deg);
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  h4{
    font-size: 70px;
  }
  h5{
    font-size: 30px; 
  }
}

.imgSkills{
  height:   75%;
  width:    75%;
}

/* Life Journey */
#life-journey-section{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  margin-top:     4.688vh;
}

.journey-container{
  --col-gap:              2rem;
  --row-gap:              2rem;
  --line-w:               0.25rem;
  display:                grid;
  grid-template-columns:  1fr var(--line-w) 1fr;
  grid-auto-columns:      max-content;
  column-gap:             var(--col-gap);
  list-style:             none;
  width:                  min(60rem, 90%);
  margin-inline:          auto;
  align-items:            stretch;
  padding-bottom:         20px;
}

.journey-container::before {
  content:        "";
  grid-column:    2;
  grid-row:       1 / span 20;
  background:     #3C444B;
  border-radius:  calc(var(--line-w) / 2);
}

.journey-container .journey-box {
  grid-column:          1;
  --inlineP:            1.5rem;
  margin-inline:        var(--inlineP);
  grid-row:             span 2;
  display:              grid;
  grid-template-rows:   min-content min-content min-content;
  justify-items:        end;
}

.journey-container .journey-box h4{
  text-align:     center;
  display:        grid;
  place-content:  center;
  position:       relative;
  margin-inline:  calc(var(--inlineP) * -1);
}

.journey-container .journey-box h4::after{
  content:        "";
  background:     #05989E;
  border-radius:  50%;
  width:          30px;
  height:         30px;
  top:            50%;
  border:         3px solid #3C444B;
  position:       absolute;
  transform:      translate(-50%, -50%);
  left:           calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.journey-container .journey-box h5{
  position:   relative;
  text-align: end;
}