@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Kannada:ital@0;1&display=swap');

html, body{
  font-family: "Crimson Pro", serif;
  overflow-x: hidden;
}

.container-fluid{
  padding: 0px;
}

h2{
  font-size:  3.906vh;
  margin-top: 0;
}

h3{
  font-size: 2.93vh;
}

h4{
  font-size: 2.441vh;
}

a{
  text-decoration: none !important;
}

p{
  font-size: 1.758vh;
}

@keyframes fadeIn {
  from {
        opacity: 0;
  }
  to {
        opacity: 1;
  }
}
.animate-section{
  opacity: 0;
}
.animate-section.show {
  animation: fadeIn 1s ease-in forwards;
}

/* Header */
.header{
  position:         sticky;
  top:              0;
  background:       #ffffff;
  color:            #000000;
  border-bottom:    0.098vh solid rgba(60, 68, 75, 0.5);
  display:          flex;
  justify-content:  space-between;
  padding:          1.465vh;
  align-items:      center;
  flex-wrap:        wrap;
  z-index:          3;
}

.header-button{
  color:            #000000;
  border:           0px;
  border-radius:    0.488vh;
  background-color: #ffffff;
  font-size:        2.93vh;
  height:           4.688vh;
  padding-top:      0;
}
.header-button:hover{
  color:            #ffffff;
  background-color: #05989E;
}
.header-button:active{
  color:            #ffffff;
  background-color: #05989E;
}
.header-button:focus{
  color:            #ffffff;
  background-color: #05989E;
}

/* Landing Page */
.landing-page{
  display:          flex;
  justify-content:  space-evenly;
  flex-wrap:        wrap;
  align-items:      center;
  margin-top:       24.121vh;
  margin-bottom:    26.27vh;
  overflow:         hidden;
}

.landing-page-image{
  width:          28.027vh;
  height:         41.992vh;
  border-radius:  1.953vh;
  animation:      slideFromLeft 1.5s ease-out forwards;
}

.landing-page-right{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap:            2vh;
  animation:      slideFromRight 1.5s ease-out forwards;
}

.download-cv{
  background-color: #05989E;
  color:            #ffffff;
  transition:       all 0.5s;
  width:            26.367vh;
  height:           4.688vh;
  line-height:      4.688vh;
  font-size:        2.441vh;
  border-radius:    1.953vh;
  text-align:       center;
  &:hover {
    transform: scale(1.2);
  }
}

.icons-redirect{
  display:          flex;
  justify-content:  space-around;
  width:            100%;
  margin-top:       5%;
}

.redirect-image{
  height: 54px;
  width:  54px;
}

@keyframes slideFromLeft {
  from {
    opacity:    0;
    transform:  translateX(-100%);
  }
  to {
    opacity:    1;
    transform:  translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity:    0;
    transform:  translateX(100%);
  }
  to {
    opacity:    1;
    transform:  translateX(0);
  }
}

/* About me section */
#about-section{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  margin-bottom:  26.172vh;
  margin-top:     4.688vh;
}
.about-me-content{
  display:          flex;
  justify-content:  space-evenly;
  align-items:      center;
  flex-wrap:        wrap;
}
.about-me-text{
  text-align: end;
  margin-top: 2%;
  width:      65%;
}
.about-me-image{
  width:          35.84vh;
  height:         47.754vh;
  border-radius:  20px;
}

/* Projects */
#projects-section{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  margin-top:     4.688vh;
}
.projects-subtitle{
  display:        inline-block;
  border-bottom:  0.195vh solid #1E1E1E;
  text-align:     center;
  margin-top:     2.637vh;
  margin-bottom:  3.223vh;
  margin-left:    auto;
  margin-right:   auto;
  display:        block;
  width:          fit-content;
  z-index:        2;
}
.collection{
  height:           47.363vh;
  display:          flex;
  justify-content:  center;
  align-items:      center;
}
.content {
  height:           43.753vh;
  width:            21.528vw;
  background-color: #ffffff;
  border:           0.098vh solid rgba(60, 68, 75, 0.5);
  border-radius:    0.977vh;
  overflow:         hidden;
  
}
.image-container{
  height:     26.758vh;
}
.card-image{
  width:      21.528vw;
  height:     26.758vh;
  object-fit: cover;
  overflow:   hidden;
  margin:     auto;
}
.card-content{
  display:          flex;
  justify-content:  center;
  align-items:      center;
  flex-direction:   column;
}
.card-content p{
  font-size:  12px;
  text-align: center;
  padding:    0 2.222vw 0 2.222vw;
}
.card-content a {
  background:     #2c8c99;
  color:          #ffffff;
  border:         none;
  padding:        0.977 1.465vh;
  border-radius:  1.953vh;
  transition:     all 0.5s;
  margin-bottom:  5%;
  width:          15.399vw;
  text-align:     center;
  font-size:      1.953vh;
  &:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 850px) {
  .content{
    width:  50vw;
  }
}